# Python cache
__pycache__/
*.pyc

# Environments / local dirs
env/
ADRL/

# Model artifacts
*.pth
*.onnx

# Data / outputs
datasets/
dataforuse/
results/
pretrained_model/
dataforuse_depth/
datasets_depth/
corner_inference/
corner_inference_depth/
corner_affinity_inference/